<div ng-init="events.formLoad($event)">
    <div id="tableauViz" style="height: 900px; width: 1200px;"></div>

</div>
<script>
    //$(document).ready(function (e) { 
    //    var viz, workbook, activesheet;

    //    var placeholderDiv = document.getElementById("tableauViz");
    //    var url = data.d;
    //    var options = {
    //        width: 1000,
    //        height: 800,
    //        hideTabs: false,
    //        hideToolbar: true,
    //        onFirstInteractive: function () {
    //            workbook = viz.getWorkBook();
    //            activesheet = workbook.getActiveSheet();
    //            tabInitialLoad();
    //        }
    //    };

    //    viz = new tableauSoftware.Viz(placeholderDiv, url, options);
    
    //});
</script>