@{
    ViewBag.Title = "Edit";
}
@*<div style="padding:10px;background-color: lightsteelblue;padding: 10px;border: thin solid darkgray;border-radius: 4px;">
    <h4>Meeting elements</h4>
</div>*@
<link href="~/Content/mtg-edit.css" rel="stylesheet" />


<div class="row" >
    <div class="col-md-12 RbtnMargin">
        <button kendo-button class="pull-right" ng-click="cancel()"><span class="k-icon k-i-cancel"></span>Cancel</button>
        <button kendo-button class="pull-right" ng-click="save()"><span class="k-icon k-i-tick"></span>Save</button>
        <button kendo-button class="pull-right"><span class="k-icon k-i-tick"></span>Submit</button>
    </div>
</div>
<div class="panel panel-default" data-ng-controller="mtgsEditController">
    <div class="panel-heading">Meeting details</div>
  <div class="panel-body">
    <div class="form-horizontal">
        <div class="row clearfix">           
          <div class="col-lg-12">
            <div class="form-group clearfix col-lg-10">                            
                <label class="col-lg-1 control-label" for="mtgNumber" style="padding-left: 0px;">Meeting no.</label>                                                
                <div class="col-lg-5">
                    <input disabled ng-model="meeting.mtg_number" type="text" class="form-control">
                </div>
            </div>  
            <div class="col-lg-2 form-group clearfix">
                <label class="col-lg-4 control-label" for="mtgStatus">Status</label>
                <div class="col-lg-8">
                    <input ng-model="meeting.status" type="text" class="form-control">
                </div>
             </div>
            <div class="col-lg-10 form-group clearfix">
                @*Title*@
         
                    <label class="col-lg-1 control-label" for="mtgTitle">Title</label> 
                    <div class="col-lg-11">
                    <input ng-model="meeting.mtg_title" type="text" class="form-control">
                    </div>                      
                             
            </div>
            <div class="col-lg-10 form-group clearfix">
                 <div class="col-lg-6" style="padding: 0px;">
                    <label class="col-lg-2 control-label" for="mtgDurationFromDate">Duration</label>
                    <div class="col-lg-4">
                        <input kendo-date-picker id="dateDurFr" k-format="'dd MMM yyyy'" k-options="datePickerOptions" k-ng-model="meeting.start_date" />
                        @*<input ng-model="job.number" type="date" class="form-control">*@                                
                    </div>
                    <label class="col-lg-1 control-label" for="jobNumber">to</label> 
                    <div class="col-lg-4">
                        <input kendo-date-picker id="dateDurTo" k-format="'dd MMM yyyy'" k-options="datePickerOptions" k-ng-model="meeting.end_date" />
                            @*<input ng-model="job.number" type="date" class="form-control">*@
                    </div>     
               </div>
                <div class="col-lg-6" style="padding: 0px;">
                <label class="col-lg-2 control-label" for="jobNumber">Venue</label>
                <div class="col-lg-6">
                    <input ng-model="meeting.venue" type="text" class="form-control">
                </div>
                <div class="col-xs-4 col-md-4">
                    <select ng-model="meeting.region" class="form-control" ng-options="s.abbr as s.name for s in states">
                        <option value="">--</option>
                    </select>
                </div>
                    </div>
            </div>
         </div>           
      </div> 
@*         <hr />
        <div class="row clearfix"> 
            <div class="form-group clearfix">              
                <div class="col-xs-12 col-lg-12">
                    <label class="col-lg-1 control-label" for="mtgTitle">Title</label> 
                    <div class="col-lg-11">
                    <input ng-model="meeting.title" type="text" class="form-control">
                    </div>                       
                </div>                   
            </div>
        </div>*@
        
        <hr />
        <div class="row clearfix">
            <div class="col-lg-5">   
                <div class="form-group">
                    <label class="col-md-12 edit-form-label" for="bg-info">Justification for venue selection outside the Regional office</label>
                    <div class="col-md-12">
                        <textarea class="form-control input-sm" id="dtl-bg-info" rows="5" ng-model="meeting.venuejustification"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="col-lg-4">
                    <div class="form-group clearfix">  
                        <div class="col-lg-12 col-xs-12">
                            <div class="checkbox">
                                <label class="col-lg-3 form-control"><input type="checkbox" value="" ng-model="meeting.spmcwaived">SPMC waived?</label>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group clearfix">  
                    <div class="col-lg-12 col-xs-12">
                        <div class="checkbox">
                            <label class="col-lg-3 form-control"><input type="checkbox" value="" ng-model="meeting.waiverapproved">4-month waiver approved?</label>
                        </div> 
                    </div>                        
                </div>
                    <div class="form-group clearfix">  
                        <div class="col-lg-12 col-xs-12">
                            <div class="checkbox">
                                <label class="col-lg-3 form-control"><input type="checkbox" value="" ng-model="meeting.wproledmtg">Not a WPRO-led meeting?</label>
                            </div> 
                        </div>                        
                    </div>
                    <div class="form-group clearfix">  
                        <div class="col-lg-12 col-xs-12">
                            <div class="checkbox">
                                <label class="col-lg-3 form-control"><input type="checkbox" value="" ng-model="meeting.incleventcal">Include in Event calendar?</label>
                            </div> 
                        </div>                        
                    </div>
                    @*<div class="form-group clearfix">  
                        <div class="col-lg-12 col-xs-12">
                            <div class="checkbox">
                                <label class="col-lg-3 form-control"><input type="checkbox" value="" ng-model="meeting.reqreport">Requires a meeting report?</label>
                            </div> 
                        </div>                        
                    </div>
                    <div class="form-group clearfix">  
                        <div class="col-lg-12 col-xs-12">
                            <div class="checkbox">
                                <label class="col-lg-3 form-control"><input type="checkbox" value="" ng-model="meeting.reqlogo">Requires a logo?</label>
                            </div> 
                        </div>
                    </div>*@                      
                </div>
                <div class="col-lg-8">
                    <div class="form-group clearfix">      
                        <div class="col-xs-12" style="padding-top:0px;">
                                <label class="col-lg-5 control-label" for="jobNumber">SPMC approval date</label>
                                <div class="col-lg-3">
                                    <input kendo-date-picker id="dateDurFr" k-format="'dd MMM yyyy'" k-options="datePickerOptions" k-ng-model="meeting.approvaldate" />                                                                  
                                </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">                           
                            <div class="col-lg-12">
                                <label class="col-lg-5 control-label" for="jobNumber">Meeting type</label>                                    
                                <div class="col-xs-12 col-lg-7">
                                    	<select ng-model="meeting.type" class="form-control" ng-options="option.value as option.display for option in types">
	                                        <option ng-disabled="true"  ng-selected="true" value="">Select type</option>
	                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">                           
                            <div class="col-lg-12">
                                <label class="col-lg-5 control-label" for="jobNumber">Meeting classification</label>                                    
                                <div class="col-xs-12 col-lg-7">
                                    	<select ng-model="meeting.classification" class="form-control" ng-options="option.display for option in classifications | filter:{type:meeting.type}">
	                                        <option ng-disabled="true"  ng-selected="true" value="">Select classification</option>
	                                    </select>
                                </div>
                            </div>
                        </div>                   
                        <div class="form-group clearfix">      
                        <div class="col-xs-12" style="padding-top:0px;">
                                <label class="col-lg-5 control-label" for="jobNumber">Meeting admin follow up date</label>
                                <div class="col-lg-7">
                                    <input kendo-date-picker id="dateDurFr" k-format="'dd MMM yyyy'" k-options="datePickerOptions" k-ng-model="meeting.ffupdate" />                                                                  
                                </div>                       
                </div>
            </div>  
                </div>
            </div>
        </div>
        <hr />
        @*<div class="row clearfix"> 
            <div class="col-lg-6">
                <div class="form-group clearfix">     
                    <div class="tbl-container">
                        <table class="table">
                        <thead>
                            <tr>
                            <th>Responsible officer</th>
                            <th>Unit</th>
                            <th>Division</th>
                            <th>Main</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                            <td>Jane Doe</td>
                            <td>HSD</td>
                            <td>DHS</td>
                            <td><input type="checkbox" ng-model="appObj.cb5" checked="checked"></td>
                            </tr>
                            <tr class="">
                            <td>John Doe</td>
                            <td>ITA</td>
                            <td>APW</td>
                            <td><input type="checkbox" ng-model="appObj.cb6"></td>
                            </tr>                            
                        </tbody>
                        </table>                             
                    </div>
                </div> 
            </div>
            <div class="col-lg-6">
                        <div class="form-group clearfix">                           
                            <div class="col-lg-12">
                                <label class="col-lg-5 control-label" for="jobNumber">Meeting type</label>                                    
                                <div class="col-xs-12 col-lg-7">
                                    	<select ng-model="meeting.type" class="form-control" ng-options="option.value as option.display for option in types">
	                                        <option ng-disabled="true"  ng-selected="true" value="">Select type</option>
	                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">                           
                            <div class="col-lg-12">
                                <label class="col-lg-5 control-label" for="jobNumber">Meeting classification</label>                                    
                                <div class="col-xs-12 col-lg-7">
                                    	<select ng-model="meeting.classification" class="form-control" ng-options="option.display for option in classifications | filter:{type:meeting.type}">
	                                        <option ng-disabled="true"  ng-selected="true" value="">Select classification</option>
	                                    </select>
                                </div>
                            </div>
                        </div>                   
                        <div class="form-group clearfix">      
                        <div class="col-xs-12" style="padding-top:0px;">
                                <label class="col-lg-5 control-label" for="jobNumber">Meeting admin follow up date</label>
                                <div class="col-lg-7">
                                    <input kendo-date-picker id="dateDurFr" k-format="'dd MMM yyyy'" k-options="datePickerOptions" k-ng-model="meeting.ffupdate" />                                                                  
                                </div>                       
                </div>
            </div>                 
        </div>
    </div>
        
        <hr />*@
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabset">
                    <tabset class="tabs-left">
                        <tab heading="Details">                         
                                <div class="row clearfix">
                                    <div class="col-lg-11 column">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-12 edit-form-label" for="bg-info">Background Information</label>
                                            <div class="col-md-12">
                                                <textarea class="form-control input-sm" id="dtl-bg-info" rows="6" ng-model="mtgdetails.bginfo"></textarea>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-12 edit-form-label" for="bg-info">Summary</label>
                                            <div class="col-md-12">
                                                <textarea class="form-control input-sm" id="dtl-summary" rows="6" ng-model="mtgdetails.summary"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-12 edit-form-label" for="bg-info">Objectives</label>
                                            <div class="col-md-12">
                                            <div kendo-grid="grid"
                                                    k-sortable="true"
                                                    k-pageable="true"
                                                    k-filterable="true"
                                                    k-selectable="true"                                           
                                                    k-editable="'popup'"
                                                    k-toolbar='["create","edit","destroy"]'
                                                    k-columns='[
                                                        { field:"objective", title:"Objective", width: "50px" },
                                                        { field:"assessment", title:"How achievement will be assessed",  width: "120px" },
                                                        { field:"status", title:"Status", width: "120px" },
                                                        { field:"ffupDate", title:"Follow up date", format: "{0:dd MMM yyyy }", width: "120px" },
                                                        { field:"ffupAction", title:"Follow up action", width: "220px" }
                                                
                                                    ]'
                                                    k-data-source="objDataSrc"
                                                    @*k-on-data-bound="onDataBound(kendoEvent)"
                                                    k-on-change="onChange(kendoEvent)">*@>
                                                </div>
                                            </div>
                                            <script type="text/x-kendo-template" id="toolbar">
                                                <div>
                                                    <button kendo-button ng-click="showDetails(this)"><span class="k-icon k-i-tick"></span>Edit Details</button>                
                                                </div>
                                            </script>
                                        </div>
                                    </div>
                                     <!--End col-5-->
                                   
                                </div>
                        
                        <!--End Container-->

                        </tab>
                        <tab heading="Funds & Budget">
                          
                        </tab>
                        <tab heading="Participants">
                            <div class="row clearfix" ng-controller="participantsController">
                                <div class="col-lg-12 column">
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-12 edit-form-label" for="bg-info">Criteria for participants to be invited</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control input-sm" id="dtl-bg-info" rows="3" ng-model="mtgdetails.participants.criteria"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-12 edit-form-label" for="bg-info">Participants to be invited</label>
                                        <div class="col-lg-12">
                                            <div kendo-grid="participant"
                                                k-sortable="true"
                                                k-pageable="true"
                                                k-filterable="true"
                                                k-selectable="true"
                                                k-editable= "'popup'"
                                                @*k-editable='{
                                                    mode: "popup",
                                                    template: tempTemplate
                                                }'
                                                k-edit="editFunction"*@
                                                k-toolbar='["create","edit","destroy"]'
                                                k-columns='[
                                                    { field:"country", title: "Country"},
                                                    { field: "number", title:"Number"  },
                                                    { field: "funded", title:"WPRO/SEARO funded"  },      
                                                    { field: "selffunded", title:"Self funded"  }      
                                                ]'
                                                k-data-source="participantsDataSource"
                                                k-on-data-bound="onDataBound(kendoEvent)"
                                                k-on-change="onChange(kendoEvent)">
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Temporary advisers ">
                        </tab>
                        <tab heading="Linkages">
                            <div class="row" ng-controller="lnkgsController">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group clearfix">      
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="email">Linked meetings</label>
                                                <div class="col-sm-5">
                                                <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                        </div>
                                    <div class="row">
                                        <tabset>
                                            <tab heading="Core functions">
                                                <div class="row">
                                                    <div class="col-lg-12"> 
                                                        @*<div class="form-group clearfix">  
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label class="col-lg-3 form-control"><input type="checkbox" value="">Providing leadership on matters critical to health and engaging in partnerships where joint action is needed.</label>
                                                                </div> 
                                                            </div>                        
                                                        </div>
                                                        <div class="form-group clearfix">  
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label class="col-lg-3 form-control"><input type="checkbox" value="">Shaping the research agenda, and stimulating the generation, dissemination and application of valuable knowledge.</label>
                                                                </div> 
                                                            </div>                        
                                                        </div>
                                                        <div class="form-group clearfix">  
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label class="col-lg-3 form-control"><input type="checkbox" value="">Setting norms and standards, and promoting and monitoring their implementation.</label>
                                                                </div> 
                                                            </div>                        
                                                        </div>
                                                        <div class="form-group clearfix">  
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label class="col-lg-3 form-control"><input type="checkbox" value="">Articulating ethical and evidence-based policy options.</label>
                                                                </div> 
                                                            </div>                        
                                                        </div>
                                                        <div class="form-group clearfix">  
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label class="col-lg-3 form-control"><input type="checkbox" value="">Providing technical support, catalyzing change and building sustainable institutional capacity.</label>
                                                                </div> 
                                                            </div>                        
                                                        </div>
                                                        <div class="form-group clearfix">  
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label class="col-lg-3 form-control"><input type="checkbox" value="">Monitoring the health and assessing health trends.</label>
                                                                </div> 
                                                            </div>                        
                                                        </div>  *@                                                         
                                @*                       <div class="form-group clearfix">      
                                                        <div class="row">
                                                        <div class="col-xs-12 col-lg-12" style="padding-top:0px;">
                                                                <label class="col-lg-3 control-label" for="jobNumber">Created by</label>
                                                                <div class="col-lg-8">
                                                                        <input ng-model="job.number" type="text" class="form-control">
                                                                </div>
                                                                </div>
                                                            </div>
                                                    </div>*@
                                                        <div class="form-group clearfix" ng-repeat="cfx in corefx" ng-class="{info:selected[cfx.id], warning:!selected[cfx.id] && maxSelected()}">  
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label class="col-lg-3 form-control"><input type="checkbox"  ng-model="selected[cfx.id]" ng-disabled="!selected[cfx.id] && maxSelected()" id="{{cfx.id}}" value="">{{cfx.name}}</label>
                                                                </div> 
                                                            </div>                        
                                                        </div>
                                                    </div>
                                                </div>                                         
                                            </tab>
                                            <tab heading="Global resolutions"></tab>
                                            <tab heading="Regional resolutions"></tab>
                                            <tab heading="Relevant PB deliverables" ng-click="pbDeliverablesTab()">
                                                <div class="form-group clearfix">
                                                    <div class="col-lg-12">
                                                        <span><strong>Contribution to WHO's programme budget</strong></span>
                                                     </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <div class="col-lg-12">
                                                    <span>The workshop would also contribute to:</span>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                    <div class="form-group clearfix" ng-repeat="pbCategory in pbCategories">  
                                                        <div class="col-lg-12 col-xs-12">
                                                            <div class="checkbox">
                                                                <label class="col-lg-3 form-control"><input type="checkbox" ng-model="selectedPbCategory[pbCategory.id]" id="{{pbCategory.id}}" value="" ng-change="stateChanged(pbCategory.id)">{{pbCategory.desc}}</label>
                                                                <div class="form-group clearfix" ng-repeat="pbOutcome in pbOutcomes" ng-if="pbOutcome.pbcategoryid == pbCategory.id && selectedPbCategory[pbCategory.id]">  
                                                                    <div class="col-lg-12 col-xs-12" style="padding-left:40px;" >
                                                                        <div class="checkbox">
                                                                            <label class="col-lg-3 form-control" style="font-weight:normal"><input type="checkbox" ng-model="selectedPbOutcome[pbOutcome.id]" id="{{pbOutcome.id}}" value="" >{{pbOutcome.desc}}</label>
                                                                            <div class="form-group clearfix" ng-repeat="pbOutput in pbOutputs" ng-if="pbOutput.pboutcomeid == pbOutcome.id && selectedPbOutcome[pbOutcome.id]">  
                                                                                <div class="col-lg-12 col-xs-12" style="padding-left:40px;" >
                                                                                    <div class="checkbox">
                                                                                        <label class="col-lg-3 form-control" style="font-weight:normal"><input type="checkbox" ng-model="selectedPbOutput[pbOutput.id]" id="{{pbOutput.id}}" value="" >{{pbOutput.desc}}</label>
                                                                                        @*<div class="checkbox">
                                                                                            <input type="radio" name="somethign" value="1" ng-model="checkboxSelection"/> Checkbox 1 <input type="radio" name="somethign" value="2" ng-model="checkboxSelection"/> Checkbox 2
                                                                                        </div>*@
                                                                                        <div class="form-group clearfix" ng-if="selectedPbOutput[pbOutput.id]">  
                                                                                            <div class="col-lg-12 col-xs-12" style="padding-left:40px;" >
                                                                                                <div class="checkbox">
                                                                                                    <div ng-repeat="delCat in deliverableCats" class="pull-left" style="padding-right:10px;">
                                                                                                        <input type="radio" data-ng-value="delCat" data-ng-model="$parent.delcatselected" name="del{{pbOutput.id}}" ng-checked="$index==0" />
                                                                                                         {{delCat.text}}
                                                                                                    </div> 
                                                                                                    <div class="clearfix"></div>
                                                                                                    <div class="clearfix" style="border-top: thin solid lightgrey;padding-left:20px;padding-top:5px;margin-top: 5px;">
                                                                                                        <div class="checkbox">
                                                                                                            <div ng-if="delcatselected.id==1" >
                                                                                                                <span>N/A</span>
                                                                                                            </div>
                                                                                                            <div ng-repeat="pbDeliverable in pbDeliverables | filter:{pbDelCategory:1}:{pboutputid:pbOutput.id}" style="padding-right:10px;" ng-if="delcatselected.id==2" >
                                                                                                                <input type="radio" data-ng-value="pbDeliverable" data-ng-model="$parent.delselected" name="pbDeliverables_{{pbOutput.id}}" />
                                                                                                                    {{pbDeliverable.desc}}
                                                                                                            </div>
                                                                                                            <div ng-repeat="pbDeliverable in pbDeliverables | filter:{pbDelCategory:2}:{pboutputid:pbOutput.id}" style="padding-right:10px;" ng-if="delcatselected.id==3" >
                                                                                                                <input type="radio" data-ng-value="pbDeliverable" data-ng-model="$parent.delselected" name="pbDeliverables_{{pbOutput.id}}" />
                                                                                                                    {{pbDeliverable.desc}}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                     </div>
                                                                                                    @*<tabset class="innertab">
                                                                                                        <tab heading="Country office deliverables">
                                                                                                            <div class="checkbox">
                                                                                                                <div ng-repeat="pbDeliverable in pbDeliverables" class="pull-left" style="padding-right:10px;" ng-if="pbDeliverable.pbDelCategory==1 && pbOutput.id == pbDeliverable.pboutputid">
                                                                                                                    <input type="radio" data-ng-value="pbDeliverable" data-ng-model="$parent.delcatselected" name="pbDeliverables_{{pbOutput.id}}" />
                                                                                                                     {{pbDeliverable.desc}}
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </tab>
                                                                                                      <tab heading="Regional office deliverables">
                                                                                                            <div ng-repeat="pbDeliveberable2 in pbDeliverables" class="pull-left" style="padding-right:10px;" ng-if="pbDeliveberable2.pbDelCategory==2 && pbOutput.id == pbDeliveberable2.pboutputid">
                                                                                                                    <input type="radio" data-ng-value="pbDeliveberable2" data-ng-model="$parent.delselected2" name="pbDeliverables_{{pbOutput.id}}"/>
                                                                                                                     {{pbDeliveberable2.desc}}
                                                                                                                </div> 
                                                                                                        </tab>
                                                                                                    </tabset>*@
                                                                                                    <div>{{delcatselected}}</div>
                                                                                                    <div>{{delselected}}</div>                                                                               
                                                                                                </div>                                                                                
                                                                                            </div>
                                                                                        </div>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                        </div> 
                                                                    </div>                        
                                                                </div>
                                                            </div> 
                                                        </div>                        
                                                    </div>
                                                        </div>
                                                    </div>
                                             @*   <div>{{selectedPbOutcome}}</div>*@
                                            </tab>
                                        </tabset>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Attachments">

                        </tab>
                        <tab heading="Meeting Report">
                            <tabset>
                                <tab heading="Report production"></tab>
                                <tab heading="Report recommendations"></tab>
                                </tabset>
                        </tab>
                        <tab heading="Additional Information">
                           @* <tabset>
                                <tab heading="Resource mobilization"></tab>
                                <tab heading="Parallel events"></tab>
                                <tab heading="In-house support services"></tab>
                                </tabset>*@
                        </tab>
                    </tabset>
                    </div>
                </div>
        </div>    
        <hr />
        <div class="row clearfix">
            <div class="col-lg-6">
               <div class="form-group clearfix">   
                    <div class="col-xs-12 col-lg-12" style="padding-top:0px;">
                            <label class="col-lg-3 control-label" for="jobNumber">Created by</label>
                            <div class="col-lg-9">
                                    <input ng-model="meeting.createdby" type="text" class="form-control">
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group clearfix">  
                    <div class="col-xs-12 col-lg-12" style="padding-top:0px;">
                        <label class="col-lg-3 control-label" for="jobNumber">Last update</label>
                        <div class="col-lg-9">
                                <input ng-model="meeting.lastupdate" type="text" class="form-control">
                        </div>
                    </div>                            
                </div> 
            </div>
        </div>                
    </div>
      </div>
</div>
<div class="row">
    <div class="col-md-12 RbtnMargin" style="padding-top:10px;">
        <button kendo-button class="pull-right" ng-click="cancel()"><span class="k-icon k-i-cancel"></span>Cancel</button>
        <button kendo-button class="pull-right" ng-click="save()"><span class="k-icon k-i-tick"></span>Save</button>
        <button kendo-button class="pull-right"><span class="k-icon k-i-tick"></span>Submit</button>
    </div>
</div>

<div style="padding: 20px;margin-top:10px;display:none;">
    <pre class="col-xs-12">{{meeting}}</pre>
</div>




<tabset class="tabs-left">
    <tab heading="Vertical A">
      <div class="row clearfix">
                                    <div class="col-lg-11 column">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-12 edit-form-label" for="bg-info">Background Information</label>
                                            <div class="col-md-12">
                                                <textarea class="form-control input-sm" id="dtl-bg-info" rows="6" ng-model="mtgdetails.bginfo"></textarea>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-12 edit-form-label" for="bg-info">Summary</label>
                                            <div class="col-md-12">
                                                <textarea class="form-control input-sm" id="dtl-summary" rows="6" ng-model="mtgdetails.summary"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-12 edit-form-label" for="bg-info">Objectives</label>
                                            <div class="col-md-12">
                                            <div kendo-grid="grid"
                                                    k-sortable="true"
                                                    k-pageable="true"
                                                    k-filterable="true"
                                                    k-selectable="true"                                           
                                                    k-editable="'popup'"
                                                    k-toolbar='["create","edit","destroy"]'
                                                    k-columns='[
                                                        { field:"objective", title:"Objective", width: "50px" },
                                                        { field:"assessment", title:"How achievement will be assessed",  width: "120px" },
                                                        { field:"status", title:"Status", width: "120px" },
                                                        { field:"ffupDate", title:"Follow up date", format: "{0:dd MMM yyyy }", width: "120px" },
                                                        { field:"ffupAction", title:"Follow up action", width: "220px" }
                                                
                                                    ]'
                                                    k-data-source="objDataSrc"
                                                    @*k-on-data-bound="onDataBound(kendoEvent)"
                                                    k-on-change="onChange(kendoEvent)">*@>
                                                </div>
                                            </div>
                                            <script type="text/x-kendo-template" id="toolbar">
                                                <div>
                                                    <button kendo-button ng-click="showDetails(this)"><span class="k-icon k-i-tick"></span>Edit Details</button>                
                                                </div>
                                            </script>
                                        </div>
                                    </div>
                                     <!--End col-5-->
                                   
                                </div>
    </tab>
    <tab heading="Vertical B">
        
    </tab>
</tabset>


<div ng-controller="TestCtrl">
<div class="row clearfix" >
    <div class="col-lg-11 column">
        <!-- Select dropdown -->
        <label class="control-label col-md-9" for="btnSelect">{{label}}: </label>
        <div class="btn-toolbar">
            <div class="btn-group col-md-9">
                <button type="button" class="btn btn-default btn-lg col-md-6" data-toggle="dropdown" id="btnSelect">{{choosen.title}}</button>
                <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                
                <!-- Select dropdown -->
                <ul class="dropdown-menu col-md-6" role="menu" style="font-size: 11px;">
                    <li ng-repeat="section in sections" ng-click="select($index)" ng-class="{true: 'selected'}[section.title == choosen.title]">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="text-success" ng-show="section.title == choosen.title"><small><span class="glyphicon glyphicon-chevron-right"></span> Currently selected<br /></small></span>
                                <label style="font-weight:normal;" class="text-info">{{section.title}}</label>                                
                            </div>
                        </div>
                    </li>
                </ul>            
            </div> <!-- /.btn-toolbar -->
        </div> <!-- /.form-group -->
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">{{choosen.title}}</div>
    <div class="panel-body">
<div class="row clearfix" ng-if="idx == 0">
    <div class="col-lg-12 column">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-12 edit-form-label" for="bg-info">Background Information</label>
            <div class="col-md-12">
                <textarea class="form-control input-sm" id="dtl-bg-info" rows="6" ng-model="mtgdetails.bginfo"></textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-12 edit-form-label" for="bg-info">Summary</label>
            <div class="col-md-12">
                <textarea class="form-control input-sm" id="dtl-summary" rows="6" ng-model="mtgdetails.summary"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 edit-form-label" for="bg-info">Objectives</label>
            <div class="col-md-12">
            <div kendo-grid="grid"
                    k-sortable="true"
                    k-pageable="true"
                    k-filterable="true"
                    k-selectable="true"                                           
                    k-editable="'popup'"
                    k-toolbar='["create","edit","destroy"]'
                    k-columns='[
                        { field:"objective", title:"Objective", width: "50px" },
                        { field:"assessment", title:"How achievement will be assessed",  width: "120px" },
                        { field:"status", title:"Status", width: "120px" },
                        { field:"ffupDate", title:"Follow up date", format: "{0:dd MMM yyyy }", width: "120px" },
                        { field:"ffupAction", title:"Follow up action", width: "220px" }
                                                
                    ]'
                    k-data-source="objDataSrc"
                    @*k-on-data-bound="onDataBound(kendoEvent)"
                    k-on-change="onChange(kendoEvent)">*@>
                </div>
            </div>
            <script type="text/x-kendo-template" id="toolbar">
                <div>
                    <button kendo-button ng-click="showDetails(this)"><span class="k-icon k-i-tick"></span>Edit Details</button>                
                </div>
            </script>
        </div>
    </div>
        <!--End col-5-->         
</div>
        </div>
    </div>
</div>
@*
<div ng-controller='TestCtrl'>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
         <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href="#deal" data-toggle="tab">Deal</a></li>
         <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="#bond" data-toggle="tab">Bond</a></li>
         <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a href="#collateral" data-toggle="tab">Collateral</a></li>
         <li ng-class="getTabClass(4)" ng-click="setActiveTab(4)"><a href="#rating" data-toggle="tab">Rating</a></li>
      </ul>
      <div class="tab-content">
        <div ng-class="getTabPaneClass(1)" id="deal">    
           <div class="form-group clearfix">  
                    <div class="col-xs-12 col-lg-12" style="padding-top:0px;">
                        <label class="col-lg-3 control-label" for="jobNumber">Last update</label>
                        <div class="col-lg-9">
                                <input ng-model="meeting.lastupdate" type="text" class="form-control">
                        </div>
                    </div>                            
                </div> 
         </div>       
        
        <div ng-class="getTabPaneClass(2)" id="bond">     
          {{tab2}}
        </div>
        
        <div ng-class="getTabPaneClass(3)" id="collateral">     
          {{tab3}}
        </div>
        
        <div ng-class="getTabPaneClass(4)" id="rating">     
          {{tab4}}
        </div>      
      
      </div>
    </div>

  </div>*@
 
@*<div class="container">
	<div class="row">
		<div class="span12">
            <p class="lead">Bare minimum radio button tabs example:</p>
            <div id="tab" class="btn-group" data-toggle="buttons-radio">
              <a href="#prices" class="btn active" data-toggle="tab">Prices</a>
              <a href="#features" class="btn" data-toggle="tab">Features</a>
              <a href="#requests" class="btn" data-toggle="tab">Requests</a>
              <a href="#contact" class="btn"  data-toggle="tab">Contact</a>
            </div>
             
            <div class="tab-content">
              <div class="tab-pane active" id="prices">Prices content</div>
              <div class="tab-pane" id="features">Features Content</div>
              <div class="tab-pane" id="requests">Requests Content</div>
              <div class="tab-pane" id="contact">Contact Content</div>
            </div>
             
             
            <hr>
             
            <p class="lead">More complex content example:</p>
            <div id="tab" class="btn-group" data-toggle="buttons-radio">
              <a href="#prices2" class="btn btn-large btn-info active" data-toggle="tab">Prices</a>
              <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">Features</a>
              <a href="#requests2" class="btn btn-large btn-info" data-toggle="tab">Requests</a>
              <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">Contact</a>
                <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">Contact</a>
                <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">Contact</a>
                <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">Contact</a>
                <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">Contact</a>
            </div>
             
            <div class="tab-content">
              <div class="tab-pane active" id="prices2">
                <br>
                <p class="lead">Prices content</p>
                <div class="row">
                    <div class="span3">
                      <img src="http://placehold.it/200x200">  
                    </div>
                    <div class="span9">
                      <p>There are now two rates of Capital Gains Tax (CGT) for individuals. A standard rate of 18% and a higher rate of 28%. The annual exempt amount is still £10,100 for ’10-’11. For more information on CGT please see the factsheet we have put together, which is available to download below.</p> 
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="features2">
                    <br>
                <p class="lead">Features content</p>
                <div class="row">
                    <div class="span6">
                      <p>For a full list of our services including support and consultancy for start-up businesses please see the Our Services section of the website. Alternatively if you have a specific service or question in mind please don’t hesitate to contact us to discuss this using the contact details on the Contact Us page of the site.</p> 
                    </div>
                    <div class="span6">
                      <img src="http://placehold.it/400x400">  
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="requests2">
                    <br>
                <p class="lead">Requests content</p>
                <div class="row">
                    <div class="span3">
                      <img src="http://placehold.it/200x200">  
                    </div>
                    <div class="span5">
                      <p>There are now two rates of Capital Gains Tax (CGT) for individuals. A standard rate of 18% and a higher rate of 28%. The annual exempt amount is still £10,100 for ’10-’11. For more information on CGT please see the factsheet we have put together, which is available to download below.</p> 
                    </div>
                    <div class="span4">
                      <img src="http://placehold.it/400x200">  
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="contact2">
                    <br>
                <p class="lead">Contact Us</p>
                <form class="well span8">
                  <div class="row">
                        <div class="span3">
                            <label>First Name</label>
                            <input type="text" class="span3" placeholder="Your First Name">
                            <label>Last Name</label>
                            <input type="text" class="span3" placeholder="Your Last Name">
                            <label>Email Address</label>
                            <input type="text" class="span3" placeholder="Your email address">
                            <label>Subject
                            <select id="subject" name="subject" class="span3">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                            </label>
                        </div>
                        <div class="span5">
                            <label>Message</label>
                            <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
                        </div>
                    
                        <button type="submit" class="btn btn-primary pull-right">Send</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
	</div>
</div>
<div class="container">
    <div class="page-header">
        <h3>Add the (.grid-divider) class to any row to separate grid columns with equal height lines.</h3>
    </div>
    <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima expedita incidunt rerum.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta.</p>
      </div>
    </div>
    </div>

</div>*@
